$radius: 10px;
$white: #fff;
$fontFamily: Arial,sans-serif;
$grayColor: (
        50: #eee,
        100: #e1e1e1,
        200: #b1b1b1,
);
$blueColor: (
        50: #f2f4ff,
        100: #d8e0f8,
        200: #8290d0,
);
$menuItemsZIndex: 50;

